{% extends 'master.html' %}

{% block titulo %} Busqueda de puntuaciones de usuario {% endblock %}

{% block eventosPorIdiomas %} uk-active {% endblock %}
		    

{% block contenido %} 
    <div class="uk-animation-slide-bottom">
    	<form class="uk-form" id="formulario" method="post" action=''>{% csrf_token %}
    		<fieldset>
    			<legend>Busqueda de Eventos por idioma </legend>
    			<input type="text" name="nombre" id="nombre" placeholder="Idioma de los eventos"/>
    			<br><br>
    			<input class="uk-button" type='submit' value='Realizar Busqueda'/>
    		</fieldset>
    	</form>
	    
	    <hr>

	    {% if eventos %}
		    <h3> Eventos con el lenguaje elegido:  {{ eventos|length }}</h3>
		    <dl class="uk-description-list-line">

			{% for row in eventos %}
			    <dt>{{row.nombre}}</dt>
			    <dd>Fecha inicio: {{row.fechaInicio}}</dd>
			    <dd>Fecha Fin: {{row.fechaFin}}</dd>
			    <dd>Precio: {{row.precio}}</dd>
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}