<header>
<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/populate">Poblar la Base de Datos</a></li>
		<li><a href="/loadRS">Cargar el Sistema de Recomendacion</a></li>
		<li><a href="{% url 'apartado1' %}">Libros puntuados por un Usuario</a></li>
		<li><a href="{% url 'apartado2' %}">Tres Libros mejor puntuados</a></li>
		<li><a href="{% url 'apartado3' %}">Dos Libros que mas se parecen a otro</a></li>
		<li><a href="{% url 'apartado4' %}">Recomienda tres Usuarios a un Libro</a></li>		
	</ul>
</nav>
</header>
